@use '../common';

.input-hindra {
  &.error {
    border-color: #ff0000 !important;
    border-width: 2px !important;
    background-color: #ffeeee !important;
  }
  &.input-inline.error {
    border-color: #ff0000 !important;
    border-width: 0px !important;
    border-bottom-width: 2px !important;
    background-color: #ffeeee !important;
  }

  input::-ms-reveal,
  input::-ms-clear {
    display: none;
  }
}
