
$primary-color: rgb(49, 39, 131);

/*
// Error SVG
$primary-color: #54C3E9; // Bleu clair
$primary-color: #E72685; // Rose Rouge

// V1
$primary-color: #FDF1F5;
$secondary-color: #92736C;

// V2
$primary-color: #ECE7E2;
$secondary-color: #4A7766;
*/


div.error {
  color: #f00;
  text-wrap-style: pretty;
  font-style: italic;
  font-size: small;
}








.chargementFx {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: chargementFxSpin 1.1s infinite ease;
  transform: translateZ(0);
}
@keyframes chargementFxSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #312783, 1.8em -1.8em 0 0em rgba(49, 39, 131, 0.2), 2.5em 0em 0 0em rgba(49, 39, 131, 0.2), 1.75em 1.75em 0 0em rgba(49, 39, 131, 0.2), 0em 2.5em 0 0em rgba(49, 39, 131, 0.2), -1.8em 1.8em 0 0em rgba(49, 39, 131, 0.2), -2.6em 0em 0 0em rgba(49, 39, 131, 0.5), -1.8em -1.8em 0 0em rgba(49, 39, 131, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(49, 39, 131, 0.7), 1.8em -1.8em 0 0em #312783, 2.5em 0em 0 0em rgba(49, 39, 131, 0.2), 1.75em 1.75em 0 0em rgba(49, 39, 131, 0.2), 0em 2.5em 0 0em rgba(49, 39, 131, 0.2), -1.8em 1.8em 0 0em rgba(49, 39, 131, 0.2), -2.6em 0em 0 0em rgba(49, 39, 131, 0.2), -1.8em -1.8em 0 0em rgba(49, 39, 131, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(49, 39, 131, 0.5), 1.8em -1.8em 0 0em rgba(49, 39, 131, 0.7), 2.5em 0em 0 0em #312783, 1.75em 1.75em 0 0em rgba(49, 39, 131, 0.2), 0em 2.5em 0 0em rgba(49, 39, 131, 0.2), -1.8em 1.8em 0 0em rgba(49, 39, 131, 0.2), -2.6em 0em 0 0em rgba(49, 39, 131, 0.2), -1.8em -1.8em 0 0em rgba(49, 39, 131, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(49, 39, 131, 0.2), 1.8em -1.8em 0 0em rgba(49, 39, 131, 0.5), 2.5em 0em 0 0em rgba(49, 39, 131, 0.7), 1.75em 1.75em 0 0em #312783, 0em 2.5em 0 0em rgba(49, 39, 131, 0.2), -1.8em 1.8em 0 0em rgba(49, 39, 131, 0.2), -2.6em 0em 0 0em rgba(49, 39, 131, 0.2), -1.8em -1.8em 0 0em rgba(49, 39, 131, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(49, 39, 131, 0.2), 1.8em -1.8em 0 0em rgba(49, 39, 131, 0.2), 2.5em 0em 0 0em rgba(49, 39, 131, 0.5), 1.75em 1.75em 0 0em rgba(49, 39, 131, 0.7), 0em 2.5em 0 0em #312783, -1.8em 1.8em 0 0em rgba(49, 39, 131, 0.2), -2.6em 0em 0 0em rgba(49, 39, 131, 0.2), -1.8em -1.8em 0 0em rgba(49, 39, 131, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(49, 39, 131, 0.2), 1.8em -1.8em 0 0em rgba(49, 39, 131, 0.2), 2.5em 0em 0 0em rgba(49, 39, 131, 0.2), 1.75em 1.75em 0 0em rgba(49, 39, 131, 0.5), 0em 2.5em 0 0em rgba(49, 39, 131, 0.7), -1.8em 1.8em 0 0em #312783, -2.6em 0em 0 0em rgba(49, 39, 131, 0.2), -1.8em -1.8em 0 0em rgba(49, 39, 131, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(49, 39, 131, 0.2), 1.8em -1.8em 0 0em rgba(49, 39, 131, 0.2), 2.5em 0em 0 0em rgba(49, 39, 131, 0.2), 1.75em 1.75em 0 0em rgba(49, 39, 131, 0.2), 0em 2.5em 0 0em rgba(49, 39, 131, 0.5), -1.8em 1.8em 0 0em rgba(49, 39, 131, 0.7), -2.6em 0em 0 0em #312783, -1.8em -1.8em 0 0em rgba(49, 39, 131, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(49, 39, 131, 0.2), 1.8em -1.8em 0 0em rgba(49, 39, 131, 0.2), 2.5em 0em 0 0em rgba(49, 39, 131, 0.2), 1.75em 1.75em 0 0em rgba(49, 39, 131, 0.2), 0em 2.5em 0 0em rgba(49, 39, 131, 0.2), -1.8em 1.8em 0 0em rgba(49, 39, 131, 0.5), -2.6em 0em 0 0em rgba(49, 39, 131, 0.7), -1.8em -1.8em 0 0em #312783;
  }
}
